.container{
    background-color:#040649;
    min-height: 100vh;
}

.main{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.high{
    background-color: rgb(224, 90, 99);
    min-height: 299px;
    font-family: "Rubik";
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.high h1{
    font-size: 60px;
}

.middle{
    background-image: url('../../assets/middle-school-bg.svg');
    background-repeat: no-repeat;
    background-size: fill;
    background-position: center 20%;
    min-height: 299px;
    background-color: #040649;
}

.elementary{
    background-image: url('../../assets/elementary.svg');
    background-repeat: no-repeat;
    background-size: fill;
    background-position: center;
    min-height: 299px;
    background-color: #FFA603;
}

.footer h2{
    text-align: center;
    font-family: "Rubik";
    font-size: 24px;
    font-weight: 400;
    color: #7B0FF9;
}

.title h4{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 43px;
    color: #FFFFFF;
    text-align: center;
}

.backBtn{
    display: flex;
    justify-content: space-between;
}


/* 600x or smaller */
@media only screen and (max-width: 7604px) {
}